<div class="card-inner animated active" id="about">
  <div class="card-wrap">
    <div class="content about">
      <div class="title">
        <span class="first-word">Educational</span> Background
      </div>
      <div class="row">
        <div class="w-100 col border-line-v resume-items">
          <div
            class="resume-item border-line-h d-flex"
            *ngFor="let eachEducationalBg of education"
          >
            <div class="w-30">
              <img
                class="institute-image"
                [src]="eachEducationalBg.instituteImage"
              />
            </div>
            <div class="pl-2em">
              <div class="date">
                {{ eachEducationalBg.startDate }} -
                {{ eachEducationalBg.endDate }}
              </div>
              <div class="name">{{ eachEducationalBg.university }}</div>
              <div class="company">{{ eachEducationalBg.location }}</div>
              <p>{{ eachEducationalBg.degree }}</p>
              <p>
                <strong>{{ eachEducationalBg.score }}</strong>
              </p>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>
